/* Layout */
* {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
  margin: 0;
}

main {
  min-height: 60vh;
}

main,
footer {
  margin: auto;
  max-width: 40em;
	padding: 1em 1em 2em;
}

footer {
  border-top: 1px solid #888;
}

footer > div {
  font-size: 0.9em;
  padding: 1.5em 0 1em;
}

@media screen and (min-width: 901px) {
  footer {
    border-top: none;
  }

  footer > div {
    border-top: 1px solid #888;
    margin: 0 -3em;
    padding: 1.5em 3em 1em;
  }
}

article {
	margin-bottom: 2.5em;
}

img {
	max-width: 100%;
	height: auto;
}

.pdf-container {
  width: 100%;
}

.pdf-container iframe {
  width: 100%;
  height: 60vh;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 2em;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

video {
  width: 100%;
}

.img-container.center {
  text-align: center;
}

.img-container.right {
  text-align: right;
}

@media screen and (min-width: 650px) {
  .img-container.medium.float-left {
    float: left;
    margin: 0 1em 1em 0;
  }

  .img-container.medium.float-right {
    float: right;
    margin: 0 0 1em 1em;
  }
}

@media screen and (min-width: 800px) {
  .img-container.large.float-left {
    float: left;
    margin: 0 1em 1em 0;
  }

  .img-container.large.float-right {
    float: right;
    margin: 0 0 1em 1em;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

table thead tr {
  border-bottom: 1px solid gray;
}

table tbody tr {
  border-bottom: 1px solid lightgray;
}

table tbody tr:last-child {
  border-bottom: none;
}

table th {
  text-align: left;
  padding: 0 1em;
}

table td {
  padding: 0.75em 1em;
}

table th:first-child,
table td:first-child {
  padding-left: 0;
}

table th:last-child,
table td:last-child {
  padding-right: 0;
}

table p {
  margin: 0;
}

ul li, ol li {
  padding-bottom: 0.5em;
}


/* Theme */
body {
  font-size: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #fcfcfc;
  color: #112A46;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.25em;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
}

p {
  line-height: 1.7;
  margin-top: 0;
}

li {
  line-height: 1.7;
}

.pagination > a {
  line-height: 1.7;
}

a:link, a:visited {
  color: #005498;
}
a:hover {
  color: #003865;
}
a:not(:hover) {
	text-decoration: none;
}

.border {
  border: 2px solid #777;
}

form.border {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0 1em 1em;
}

blockquote {
    border-inline-start: 4px solid #005498;
    margin-inline-start: 1.5em;
    padding-inline-start: 0.5em;
    font-style: italic;
    font-size: 0.8em;
}


/* Banner Image */
header {
  position: relative;
}

header .banner {
  display: none;
}

@media screen and (min-width: 255px) {
  header .banner {
    display: inline;
  }

  header .banner img {
    width: 100%;
    vertical-align: bottom;
  }
}


/* Logo */
.logo {
  display: none;
}

@media screen and (min-width: 255px) {
  .logo {
    display: inline;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
  }
}

@media screen and (min-width: 300px) {
  .logo {
    top: 1em;
    left: 1em;
  }
}

@media screen and (min-width: 1300px) {
  .logo {
    top: 2em;
    left: 2em;
  }
}


/* Main Menu */

/* no-JS styles */
nav.main-menu {
  position: relative;
  text-align: center;
  font-size: 1.1em;
  padding: 0.5em;
}

nav.main-menu button#toggle {
  display: none;
}

nav.main-menu ul#menu {
  background-color: #fcfcfc;
  list-style: none;
  margin: 0;
  padding: 0 0 1em;
  width: 100%;
}

nav.main-menu li {
  text-align: center;
  padding-bottom: 0;
}

nav.main-menu li a:link,
nav.main-menu li a:visited {
  display: block;
  padding: 0.4em 1.5em;
  color: #112A46;
}

nav.main-menu li a:active {
  background-color: #ddd;
  text-decoration: underline;
}

nav.main-menu hr {
  display: none;
  margin: auto;
  max-width: 50em;
  width: 96%;
}

/* progressive enhancement when JS is available */
.js nav.main-menu button#toggle {
  background: none;
  border: 1px solid #112A46;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.4em 0.75em;
}

.js nav.main-menu ul#menu {
  box-shadow: 0 15px 15px rgba(0, 0, 0, .2);
  position: absolute;
  top: 100%;
  left: 0;
}

.js nav.main-menu ul#menu.collapse {
  display: none;
}

/* progressive enhancement for larger screen sizes */
@media screen and (min-width: 769px) {
  nav.main-menu {
    font-size: 0.9em;
    position: absolute;
    display: inline;
    top: 1em;
    right: 0;
  }

  nav.main-menu ul#menu {
    background: none;
  }

  nav.main-menu button#toggle,
  .js nav.main-menu button#toggle {
    display: none;
  }

  nav.main-menu ul#menu, nav.main-menu ul#menu.collapse,
  .js nav.main-menu ul#menu, .js nav.main-menu ul#menu.collapse {
    display: block;
    text-align: center;
    box-shadow: none;
    position: static;
    padding: 0;
  }

  nav.main-menu li,
  .js nav.main-menu li {
    display: inline-block;
    text-align: center;
  }

  nav.main-menu li a:link,
  nav.main-menu li a:visited,
  .js nav.main-menu li a:link,
  .js nav.main-menu li a:visited {
    padding: 0.5em 0.4em;
    color: #fcfcfc;
  }

  nav.main-menu li a:active {
    background: none;
  }

  nav.main-menu hr {
    display: block;
  }
}

@media screen and (min-width: 980px) {
  nav.main-menu {
    font-size: 1em;
  }

  nav.main-menu li a:link,
  nav.main-menu li a:visited,
  .js nav.main-menu li a:link,
  .js nav.main-menu li a:visited {
    padding: 0.5em;
  }
}

@media screen and (min-width: 1200px) {
  nav.main-menu {
    font-size: 1.1em;
  }

  nav.main-menu li a:link,
  nav.main-menu li a:visited,
  .js nav.main-menu li a:link,
  .js nav.main-menu li a:visited {
    padding: 0.5em 0.75em;
  }
}


/* Contact Form */
span.required {
  color: #ae1313;
  font-size: 0.8em;
  margin-left: 8px;
  vertical-align: bottom;
}

span.optional {
  color: #005498;
  font-size: 0.8em;
  margin-left: 8px;
  vertical-align: bottom;
}

.error {
  border: 1px solid #ae1313;
}

.error-message {
  color: #ae1313;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 10px;
}

label, input, textarea {
  display: block;
  width: 100%;
}

label {
  margin: 1em 0;
}

input, textarea {
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-top: 0.25em;
  padding: 0.5em 0.75em;
}

textarea {
  font-family: inherit;
}

button {
  background: #e0e0e0;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  background: #d5d5d5;
}

button.blue {
  background: #005498;
  color: #fcfcfc;
}

button.blue:hover {
  background: #003865;
}


/* Posts List */
.posts-list article h2 {
  margin-bottom: 0;
  font-weight: 400;
}

.posts-list article p {
  margin-top: 0.4em;
}

.posts-list .timestamp {
  font-size: 0.9em;
}

a[rel="tag"]:link,
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-bottom;
  text-transform: uppercase;
	letter-spacing: 0.1em;
  font-size: 0.5em;
  padding: 0 0.5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid #555;
	color: #555;
  border-radius: .25em;
  text-decoration: none;
	margin: 0 0.5em 0 0;
}

a[rel="tag"]:hover {
	border: 1px solid #005498;
	color: #005498;
}

a[rel="tag"]:first-of-type {
  margin-left: 1em;
}

a[rel="tag"]:last-child {
	margin-right: 0;
}


/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination.one-button {
  justify-content: end;
}

.pagination ul {
  display: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  display: flex;
  list-style-type: none;
  padding-bottom: 0;
}

.pagination a {
  border: 1px solid #112A46;
  border-radius: 4px;
  color: #112A46;
  margin-right: 0.25em;
  padding: 0.5em 1em;
}

.pagination a[aria-current] {
  background-color: #005498;
  color: #fcfcfc;
  border-color: #005498;
}

.pagination a:active {
  background-color: #005498;
  text-decoration: underline;
}

@media screen and (min-width: 630px) {
  .pagination,
  .pagination.one-button {
    justify-content: start;
  }

  .pagination ul {
    display: flex;
  }

  .pagination a {
    padding: 0.3em 0.75em;
  }
}

@media screen and (min-width: 750px) {
  .pagination a {
    padding: 0.5em 1em;
  }
}

@media screen and (min-width: 1150px) {
  .pagination a:active{
    background: none;
  }
}


/* Helpers */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.no-wrap {
  white-space: nowrap;
}

.social-links {
  margin: -0.2em 0 0;
}

.social-links a {
  margin-right: 15px;
}

.copyright {
  margin-top: 2.5em;
}

.no-type-list {
  list-style-type: none;
  padding-left: 0;
}

.no-type-list li {
  padding-bottom: 1em;
}

.indent-1 {
  margin-left: 1em;
}

/* Skip to Main Content */
a[href="#main-content"] {
  z-index: 999;
  position: fixed;
  top: -100px;
  padding: 0.5em 1em 0.75em;
  left: 30px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px -3px 20px -2px #000;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
  border-top: none;
}

a[href="#main-content"]:focus, a[href="#main-content"]:active {
  top: 0;
  text-decoration: underline;
  outline: none;
}
