/* Layout */
* {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
  margin: 0;
}

main,
footer {
  margin: auto;
  max-width: 40em;
	padding: 1em 1em 2em;
}

footer > div {
  margin: 0 -3em;
  padding: 1.5em 3em 1em;
  border-top: 1px solid #888;
  font-size: 0.9em;
}

article {
	margin-bottom: 2.5em;
}

img {
	max-width: 100%;
	height: auto;
}

.pdf-container {
  width: 100%;
}

.pdf-container iframe {
  width: 100%;
  height: 60vh;
}

.video-container {
  width: 100%;
}

.video-container iframe {

}

video {
  width: 100%;
}


/* Theme */
body {
  font-size: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #fcfcfc;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em;
}

p {
	line-height: 1.5;
}

a:link, a:visited {
  color: #0044dd;
}
a:hover {
  color: #0000aa;
}
a:not(:hover) {
	text-decoration: none;
}


/* Header Logo */
header > div {
  padding: 1em 1em 0;
  text-align: center;
}

.js header > div {
  text-align: left;
}

@media screen and (min-width: 1100px) {
  header > div,
  .js header > div {
    text-align: center;
  }
}


/* Main Menu */

/* no-JS styles */
nav.main-menu {
  position: relative;
}

nav.main-menu button#toggle {
  display: none;
}

nav.main-menu ul#menu {
  background-color: #fcfcfc;
  list-style: none;
  margin: 0;
  padding: 0 0 1em;
  width: 100%;
}

nav.main-menu li {
  text-align: center;
}

nav.main-menu li a:link,
nav.main-menu li a:visited {
  display: block;
  padding: 0.4em 1.5em;
  color: #333;
}

nav.main-menu li a:active {
  background-color: #ddd;
  text-decoration: underline;
}

/* progressive enhancement when JS is available */
.js nav.main-menu button#toggle {
  background: none;
  border: 1px solid #333;
  border-radius: 4px;
  display: inline-block;
  font-size: 1em;
  padding: 0.4em 0.75em;
  position: absolute;
  right: 1.5em;
  top: -5em;
}

.js nav.main-menu ul#menu {
  box-shadow: 0 15px 15px rgba(0, 0, 0, .2);
  position: absolute;
}

.js nav.main-menu ul#menu.collapse {
  display: none;
}

.js nav.main-menu li {
  text-align: right;
}

/* progressive enhancement for desktop screen sizes */
@media screen and (min-width: 1100px) {
  nav.main-menu button#toggle,
  .js nav.main-menu button#toggle {
    display: none;
  }

  nav.main-menu ul#menu, nav.main-menu ul#menu.collapse,
  .js nav.main-menu ul#menu, .js nav.main-menu ul#menu.collapse {
    display: block;
    text-align: center;
    box-shadow: none;
    position: static;
    padding: 0;
  }

  nav.main-menu li,
  .js nav.main-menu li {
    display: inline-block;
    text-align: center;
  }

  nav.main-menu li a:link,
  nav.main-menu li a:visited,
  .js nav.main-menu li a:link,
  .js nav.main-menu li a:visited {
    padding: 0.5em 0.75em;
  }

  nav.main-menu li a:active {
    background: none;
  }
}


/* Contact Form */
span.required {
  color: #ae1313;
  font-size: 0.8em;
  margin-left: 8px;
  vertical-align: bottom;
}

span.optional {
  color: #4040ce;
  font-size: 0.8em;
  margin-left: 8px;
  vertical-align: bottom;
}

.error {
  border: 1px solid #ae1313;
}

.error-message {
  color: #ae1313;
  font-size: 0.8em;
  font-style: italic;
  margin-left: 10px;
}

label, input, textarea {
  display: block;
  width: 100%;
}

label {
  margin: 1em 0;
}

input, textarea {
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-top: 0.25em;
  padding: 0.5em 0.75em;
}

textarea {
  font-family: inherit;
}

button {
  background: #e0e0e0;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  background: #d5d5d5;
}

button.blue {
  background: #025fea;
  color: white;
}

button.blue:hover {
  background: #0052ce;
}


/* Posts List */
.posts-list article h2 {
  margin-bottom: 0;
  font-weight: 450;
}

.posts-list article p {
  margin-top: 0.4em;
}

.posts-list .timestamp {
  font-size: 0.9em;
}

a[rel="tag"]:link,
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-bottom;
  text-transform: uppercase;
	letter-spacing: 0.1em;
  font-size: 0.5em;
  padding: 0 0.5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid #555;
	color: #555;
  border-radius: .25em;
  text-decoration: none;
	margin: 0 0.5em 0 0;
}

a[rel="tag"]:hover {
	border: 1px solid #009157;
	color: #009157;
}

a[rel="tag"]:first-of-type {
  margin-left: 1em;
}

a[rel="tag"]:last-child {
	margin-right: 0;
}


/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination.one-button {
  justify-content: end;
}

.pagination ul {
  display: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  display: flex;
  list-style-type: none;
}

.pagination a {
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
  margin-right: 0.25em;
  padding: 0.5em 1em;
}

.pagination a[aria-current] {
  background-color: #009157;
  color: white;
  border-color: #009157;
}

.pagination a:active {
  background-color: #ddd;
  text-decoration: underline;
}

@media screen and (min-width: 630px) {
  .pagination,
  .pagination.one-button {
    justify-content: start;
  }

  .pagination ul {
    display: flex;
  }

  .pagination a {
    padding: 0.3em 0.75em;
  }
}

@media screen and (min-width: 750px) {
  .pagination a {
    padding: 0.5em 1em;
  }
}

@media screen and (min-width: 1100px) {
  .pagination a:active{
    background: none;
  }
}


/* Helpers */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.social-links {
  margin: -0.6em 0 0;
}

.social-links a {
  margin-right: 15px;
}

.copyright {
  margin-top: 2.5em;
}

.no-type-list {
  list-style-type: none;
  padding-left: 0;
}

.no-type-list li {
  padding-bottom: 1em;
}
