.slider-wrapper {
    position: relative;
    transition: 300ms;
}

.slider {
    position: relative;
    height: 100%;
}

.slider-item { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin:0 auto;
    transition: 300ms;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    padding: 0 2%;
}

.slider-item.active {
    opacity: 1;
    visibility: visible;
}

.slider-item img {
    width: 100%;
}

.slider-nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -2.5%;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 105%;
    padding: 0;
}
  
.slider-nav button {
    cursor: pointer;
    font-size: 3em;
    background: none;
    border: none;
    padding: 0;
}

.slider-nav button:hover {
    background: none;
}

@media screen and (max-width: 576px) {
    .slider-nav button {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .slider-item {
        padding: 0;
    }

    .slider-nav {
        left: -4%;
        width: 108%;
    }
}
