<footer>
  <div>
    <p>Find us on social media!</p>
    <div class="social-links">
      <a href="https://www.facebook.com/scdtsea"><img src="_includes/assets/img/f_logo_RGB-Blue_58.png" alt="Facebook" /></a>
      <a href="https://twitter.com/realscdtsea"><img src="_includes/assets/img/Twitter_Logo_Blue.png" alt="Twitter" /></a>
    </div>
    <p class="copyright">
      <em>&copy; SCDTSEA 2011-<span id="copyright-current-year">2021</span>. All Rights Reserved.</em>
    </p>
  </div>
</footer>
