<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="icon" href="/static/img/favicon/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="/static/img/favicon/favicon-128.png" sizes="128x128" />
  <link rel="icon" href="/static/img/favicon/favicon-192.png" sizes="192x192" />
  <link rel="shortcut icon" href="/static/img/favicon/favicon-196.png" sizes="196x196" />
  <link rel="apple-touch-icon" href="/static/img/favicon/favicon-152.png" sizes="152x152" />
  <link rel="apple-touch-icon" href="/static/img/favicon/favicon-167.png" sizes="167x167" />
  <link rel="apple-touch-icon" href="/static/img/favicon/favicon-180.png" sizes="180x180" />
  <link rel="stylesheet" media="print" href="/_includes/assets/css/extra.css" onload="this.media='all'" />
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
