---
layout: layouts/base.njk
section: awards
permalink: /awards/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

<div class="no-type-list">
  <ul>
    {% for award in awards %}
    <li><a href="/awards/{{ award | slug }}">{{ award }}</a></li>
    {% endfor %}
  </ul>
</div>
