---
layout: layouts/base.njk
section: awards
permalink: /awards/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

<ul class="no-type-list">
  {% for award in awards %}
  <li><a href="/awards/{{ award.title | slug }}">{{ award.title }}</a></li>
  {% endfor %}
</ul>
