---
layout: layouts/base.njk
section: awards
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% if criteria %}
<h2>Criteria</h2>
{{ criteria | markdownify | safe }}
{% endif %}

<h2>Recipients</h2>
<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Recipient</th>
    </tr>
  </thead>
  <tbody>
  {% for recipient in recipients %}
    <tr>
      <td>{{ recipient.year }}</td>
      <td>{{ recipient.recipient | markdownify | safe }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
