---
layout: layouts/base.njk
section: awards
---
<nav>
  <a href="/awards" class="back">← Back</a>
</nav>

<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% if criteria %}
<h2>Criteria</h2>
{{ criteria | markdownify | safe }}
{% endif %}

<h2>Recipients</h2>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Recipient</th>
        <th>Location/Organization</th>
      </tr>
    </thead>
    <tbody>
    {% for recipient in recipients %}
      <tr>
        <td>{{ recipient.year }}</td>
        <td>{{ recipient.recipient | markdownify | safe }}</td>
        <td>{% if recipient.location_organization %}{{ recipient.location_organization }}{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<nav>
  <a href="/awards" class="back">← Back</a>
</nav>
