<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
		<header>
      <picture class="banner">
        <source type="image/webp" media="(max-width: 576px)" srcset="/static/img/banner/xs.webp" />
        <source type="image/webp" media="(max-width: 768px)" srcset="/static/img/banner/sm.webp" />
        <source type="image/webp" media="(max-width: 992px)" srcset="/static/img/banner/md.webp" />
        <source type="image/webp" media="(max-width: 1200px)" srcset="/static/img/banner/lg.webp" />
        <source type="image/webp" media="(max-width: 2000px)" srcset="/static/img/banner/xl.webp" />
        <source type="image/webp" media="(min-width: 2000px)" srcset="/static/img/banner/xxl.webp" />
        <source type="image/jpeg" media="(max-width: 576px)" srcset="/static/img/banner/xs.jpg" />
        <source type="image/jpeg" media="(max-width: 768px)" srcset="/static/img/banner/sm.jpg" />
        <source type="image/jpeg" media="(max-width: 992px)" srcset="/static/img/banner/md.jpg" />
        <source type="image/jpeg" media="(max-width: 1200px)" srcset="/static/img/banner/lg.jpg" />
        <source type="image/jpeg" media="(max-width: 2000px)" srcset="/static/img/banner/xl.jpg" />
        <source type="image/jpeg" media="(min-width: 2000px)" srcset="/static/img/banner/xxl.jpg" />
        <img type="image/jpeg" src="/static/img/banner/lg.jpg" alt="" />
      </picture>
      <a href="/">
        <picture class="logo">
          <source type="image/webp" media="(max-width: 400px)" srcset="/static/img/logo/xs.webp" />
          <source type="image/webp" media="(max-width: 500px)" srcset="/static/img/logo/sm.webp" />
          <source type="image/webp" media="(max-width: 768px)" srcset="/static/img/logo/md.webp" />
          <source type="image/webp" media="(max-width: 825px)" srcset="/static/img/logo/sm.webp" />
          <source type="image/webp" media="(max-width: 1050px)" srcset="/static/img/logo/md.webp" />
          <source type="image/webp" media="(max-width: 1300px)" srcset="/static/img/logo/lg.webp" />
          <source type="image/webp" media="(min-width: 1300px)" srcset="/static/img/logo/xl.webp" />
          <source type="image/png" media="(max-width: 400px)" srcset="/static/img/logo/xs.png" />
          <source type="image/png" media="(max-width: 500px)" srcset="/static/img/logo/sm.png" />
          <source type="image/png" media="(max-width: 768px)" srcset="/static/img/logo/md.png" />
          <source type="image/png" media="(max-width: 825px)" srcset="/static/img/logo/sm.png" />
          <source type="image/png" media="(max-width: 1050px)" srcset="/static/img/logo/md.png" />
          <source type="image/png" media="(max-width: 1300px)" srcset="/static/img/logo/lg.png" />
          <img type="image/png" src="/static/img/logo/xl.png" alt="" />
        </picture>
      </a>
      <nav class="main-menu" role="navigation">
        <button type="button" id="toggle" aria-expanded="false" aria-controls="menu">Menu</button>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul id="menu" class="collapse">
        {%- for entry in navPages %}
          <li>
            <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>
		{% include "components/footer.njk" %}
    <script src="/_includes/assets/js/extra.js"></script>
    {% if containsForm %}
    <script src="/_includes/assets/js/validate_form.js"></script>
    {% endif %}
    {% if containsCount %}
    <script src="/_includes/assets/js/character_counter.js"></script>
    {% endif %}
    {% if containsGallery %}
    <script src="/_includes/assets/js/slider.js"></script>
    {% endif %}
	</body>
</html>
