---
layout: layouts/base.njk
section: board
---
<nav>
  <a href="/board" class="back">← Back</a>
</nav>

<h1>{{ title }}</h1>

{{ layoutContent | safe }}

<article>
  <p><em>{{ position }}</em></p>
			
  <div class="img-container medium float-left">
    <picture>
      <source type="image/webp" srcset="{{ image.webp }}" />
      <img type="image/jpeg" src="{{ image.jpg }}" alt="{{ title }}" class="border" />
    </picture>
  </div>
  {{ bio | markdownify | safe }}
</article>

<nav>
  <a href="/board" class="back">← Back</a>
</nav>
