---
layout: layouts/base.njk
section: board
---
<nav>
  <a href="/board" class="back">← Back</a>
</nav>

<h1>{{ title }}</h1>

{{ layoutContent | safe }}

<article>
  <p><em>{{ position }}</em></p>
			
  <div class="img-container medium float left">
    <img src="{{ image }}" alt="{{ title }}" class="border" />
  </div>
  {{ bio | markdownify | safe }}
</article>

<nav>
  <a href="/board" class="back">← Back</a>
</nav>
